/** @format */
@import "tailwindcss";
@import "tailwindcss/utilities";
@config "../tailwind.config.js";

:root {
  --violet9: #5e4b8b; /* Radix Violet */
  --mauve12: #4a3f3a; /* Radix Mauve */
  --red11: #f44336; /* Radix Red */
}

body {
  margin: 0;
  padding: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
