/** @format */
@import "tailwindcss";
@import "tailwindcss/utilities";
@config "../tailwind.config.js";
@import "pretendard/dist/web/static/pretendard.css";

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900; /* 가변 범위 */
  font-stretch: 75% 100%; /* 너비 조절 (선택 사항) */
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-stretch: 75% 100%;
  font-style: italic;
}

html,
body {
  margin: 0;
  padding: 0;
  /* max-width: 1980px; */
  min-height: screen;
  /* max-width: 1980px; */
  /* min-width: 1200px; */
  /* overflow: auto; */
  overflow: hidden;
  overflow-y: auto;
  font-family: "Pretendard", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  word-break: keep-all;
  white-space: normal;
}

@layer components {
  .scrollbar-custom::-webkit-scrollbar {
    width: 28px; /* 스크롤바의 너비 */
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: transparent; /* 스크롤바 트랙의 색상 */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    border-right: 18px solid transparent;
    background-color: #ffffff; /* 스크롤바 thumb (핸들)의 색상 */
    border-radius: 10px; /* 스크롤바 thumb의 모서리 둥글게 */
    background-clip: padding-box;
  }
}
